/* colours
dark grey black: #222222
yellow: #e4c22a
red: #2b8151b
*/

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;

}

header{
  background-color: red;
  padding: 2em;
  text-align: center;

}

.chars{
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
  padding-top: 0.75em;
  text-shadow: 0 2px 5px black;
  position: absolute;
  top: 0.5em;
  width: 100%;
  left: 0;
}

h1{
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  text-shadow: 0 2px 5px black;
  position: absolute;
  top: 4em;
  width: 100%;
  left: 0;

}

.medal{
  width: 100px;
}

nav ol{
  padding: 1em;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #222222;
}

nav a{
  text-decoration: none;
  list-style-type: none;
  color: white;
}

li:hover{
  background-color: black;
}

nav li{
text-decoration: none;
list-style-type: none;
padding: 1.25em;
width: 50%;
float: left;
background-color: #222222;
margin: 0;
border: 1px solid black;
}

.banner{
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;

}

.shen{
  position: absolute;
  font-size: 2em;
  text-shadow: 0 2px 5px black;
  left: 0;
  bottom: -3em;
  color: white;
  text-align: center;
  width: 100%;
  transition: all 200ms linear;
}

.banner:hover .shen{
  bottom: 0.1em;
}

p{
  padding: 0.5em;
}

.dragon{
  background-color: #e4c22a;
  margin: 0;
}

h2{
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 1em;
}

.img{
  float: left;
  width: 50%;
}

.d-o{
  font-style: italic;
  font-size: 0.80em;
  text-align: center;
  padding: 1em;
  margin: 0;
}

.goat{
  background-color: #222222;
  padding; 1em;
}

h3{
  color: white;
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 1em;
}

.g-r{
  color: white;
  font-style: italic;
  font-size: 0.80em;
  text-align: center;
  padding: 1em;
  margin: 0;
}

.rooster{
  background-color: #b8151b;
  padding: 1em;
}

.ox{
  background-color: #e4c22a;
}

footer{
  background-color: #222222;
}

footer nav{
  padding: 1em;
  text-align: center;
  text-decoration: underline;
}
