
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

header{
  background-color: red;
  padding: 1em;

}

.chars{
  color: white;
  font-size: 3em;
  text-align: center;
}

h1{
  color: white;
}

.medal{
  width: 30%;
}
